.about-me{
    &__container{
        width: calc(100% - 20px);
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__text{
        text-align: left;
        font-size: 30px;
        margin: 0;
        &--thin{
            font-weight: 100;
        }
    }
    &__photo{
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    &__description{
        margin: 10px 10px 0;
        font-size: 14px;
        color: #aaa;
    }
}